// colors

$red: #b64b52;
$blue: #74c7d5;
$violet: #a0849d;
$green: #81a256;
$yellow: #f5c149;
$white: #fff;
$black : #000;

$fb-color: #4f689e;
$twit-color: #74c7d5;
$g-color: #df5c64;
$ln-color: #3e61af;

// fonts Damion Lato 

@import url('https://fonts.googleapis.com/css?family=Damion|Lato:100,300,400,700,900&display=swap');

$logo-font: 'Damion', cursive;
$default-font: 'Lato', sans-serif;


$default-font-size: 1.6rem;

//transition
$transition: all 0.4s ease;